<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-text mx-3">Demo</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" ng-class="{'active': activeTab == 'dashboard'}">
        <a class="nav-link" href="#!/"> <i class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span></a>
    </li>
    <li class="nav-item" ng-class="{'active': activeTab == 'users'}">
        <a class="nav-link" href="#!/users"> <i class="fas fa-fw fa-tachometer-alt"></i> <span>Users</span></a>
    </li>

</ul>
<!-- End of Sidebar -->